/*Imports*/
@import url('https://fonts.googleapis.com/css2?family=Just+Another+Hand&display=swap');
/*Gerais*/
*{
    color: white;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
h1{
    text-decoration: none;
}
/*--CORPO--*/
body{
    background-color: #ffffff;
}

/*-----HEADER-----*/
header{
    width: 100%;
    height: 90px;
    background-color: #107643;
    padding: 5px;
}
header div{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    gap: 15px;
}
/*Header Elementos*/
.headerImgLogo{
    height: 80px;
}
.headerBarraDePesquisa {
    width: 600px;
    height: 40px;
    color: #1a1a1a;
    border: 1px solid black;
    border-radius: 90px;

    padding-left: 10px;
    padding-right: 10px;
}
.headerNomeUsuario {
    font-size: 20px;
}
.linhaNomeUsuario{
    transform: rotate(90deg);
    width: 40px;
}
.headerImgUsuario {
    height: 70px;
    border-radius: 120%;
    border: 2px solid rgb(0, 0, 0);
}

/*-----===CONTEUDO===-----*/
/*--container--*/
.conteudo{
    width: 1020px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 10px auto 0;
    gap: 10px;
    flex-wrap: wrap;
    background-color: white !important;
}
/*-----===NAVEGAÇÃO===-----*/
.navegacao {
    width: 100%;
    height: 55px;
    background-color: #2B8057;
    border: 1px solid #000000;
    border-radius: 3px;
}
/*Navegação Elementos*/
.navegacao{
    background-color: #107643;
    height: 50px;
    border-radius: 3px;
}
.nav-list{
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}
nav ul li a{
    letter-spacing: 1px;
    justify-content: flex-start;
    list-style-type: none;
    color: #fff;
    text-decoration: none;
}
li#nav {
    padding: 10px 15px;
    gap: 3px;
}
nav ul li a:hover {
    color: #1fcc00;
    transition: all .4s ease-in-out;
}
.pgatual {
    background-color: #10452B;
    border-radius: 7px;
}
.pgatual a:hover {
    color: #ffffff;
}
div nav ul hr{
    transform: rotate(90deg);
    width: 20px;
}
/*-----===HEADER DOCUMENTOS===-----*/
.boxHeaderDocumentos{
    width: 100%;
    height: 40px;
    background-color: #0b8649;
    border-radius: 7px;
    box-shadow: 2px 2px 2px #044424;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}
/*-----===DOCUMENTOS===-----*/
.boxCorpoDocumentos{
    width: 1020px;

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.boxDocumentos{
    width: 32%;
    height: 100px;
    background-color: #D9D9D9;
    border-radius: 7px;
    border: 2px solid #b4b3b3;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.conteudoBoxDocumentos{
    color: #252525;
    cursor: help;    
}

.conteudoBoxDocumentos:hover{
    color: #000000;
    transition: 0.7s;
    font-size: 17px;
}

#documentosConsultas{
    border: 2px solid #0EAC00;
}
#documentosConsultas:hover{
    border: 2px solid rgb(16, 49, 7);
}

#programasDeGerenciamento{
    border: 2px solid #0c8800;
}
#programasDeGerenciamento:hover{
    border: 2px solid rgb(16, 49, 7);
}

#programaMelhoriaDeQualidade{
    border: 2px solid #24911a;
}
#programaMelhoriaDeQualidade:hover{
    border: 2px solid rgb(16, 49, 7);
}

#planejamentoEstrategico{
    border: 2px solid #2f6b2a;
}
#planejamentoEstrategico:hover{
    border: 2px solid rgb(18, 85, 4);
}

#captacoesInstitutoUnimed{
    border: 2px solid #12d800;
}
#captacoesInstitutoUnimed:hover{
    border: 2px solid rgb(16, 49, 7);
}

#nucleoDeGovernancaCorporativa{
    border: 2px solid #0EAC00;
}
#nucleoDeGovernancaCorporativa:hover{
    border: 2px solid rgb(16, 49, 7);
}

#unimedPersonal{
    border: 2px solid #137e0a;
}
#unimedPersonal:hover{
    border: 2px solid rgb(16, 49, 7);
}

#comed{
    border: 2px solid #1f8815;
}
#comed:hover{
    border: 2px solid rgb(16, 49, 7);
}

#tecnologiaDaInformacao{
    border: 2px solid #268d1d;
}
#tecnologiaDaInformacao:hover{
    border: 2px solid rgb(16, 49, 7);
}

/*-----===FOOTER===-----*/
footer{
    width: 100%;
    background-color: #868686;

    margin-top: 10px;
    margin-bottom: 0px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footercenter{
    height: 90px;
    width: 55%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.localizacaoUnimed{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.iconLocUnimed img{
    width: 50px;
    height: 50px;
}
.txtLocalizacao{
    color: white;
}
.boxContatos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.txtContatos{
    text-align: center;
    color: white;
    font-weight: bold;
}
.iconsContatos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.iconsRedesSociais img{
    width: 35px;
    height: 35px;
    background-color: white;
    border-radius: 5px;
}
.iconsRedesSociais img:hover{
    background-color: green;
    transition: all .3% ease-in-out;
}
.copyright{
    width: 100%;
    height: 30px;
    background-color: #868686;
    border-top: 1px;
    border-right: 0px;
    border-left: 0px;
    border-bottom: 0px;
    border-style: solid;
    border-color: #616161;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    flex-wrap: nowrap;
    gap: 15px;
}