/*Imports*/
@import url('https://fonts.googleapis.com/css2?family=Just+Another+Hand&display=swap');

/*Gerais*/
*{
    color: white;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
h1{
    text-decoration: none;
}

/*--CORPO--*/
body{
    background-color: #ffffff;
}

/*-----===HEADER===-----*/
header{
    width: 100%;
    height: 90px;
    background-color: #107643;
    padding: 5px;
}
header div{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    gap: 15px;
}

/*Header Elementos*/
.headerImgLogo{
    height: 80px;
}
.headerBarraDePesquisa {
    width: 600px;
    height: 40px;
    color: #1a1a1a;
    border: 1px solid black;
    border-radius: 90px;

    padding-left: 10px;
    padding-right: 10px;
}
.headerNomeUsuario {
    font-size: 20px;
}
.linhaNomeUsuario{
    transform: rotate(90deg);
    width: 40px;
}
.headerImgUsuario {
    height: 70px;
    border-radius: 120%;
    border: 2px solid rgb(0, 0, 0);
}

/*-----===CONTEUDO===-----*/

/*--container--*/
.conteudo{
    /* max-width: 500px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 5px auto 0;
    flex-wrap: wrap;
    background-color: white !important;
}

/*-----SISTEMAS/CONTAINER2-----*/
.sistema_container2{
    /* background-color: #000000; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    align-content: center;
    gap: 10px;
    margin: 5px auto 0;
    flex-wrap: nowrap;
}

/*-----===SISTEMAS===-----*/
.boxSistemas {
    width: 220px;
    /* height: 1020px; */
    /* background-image:linear-gradient(to right, #005600, #0b6f39); */
    background-color: #0B6939;

    border: 1px solid #000000;
    border-radius: 15px;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    /* gap: 11px; */

    padding: 12px 0px 12px 0px;
    text-align: left;
}

/*Sistemas Elementos*/
.blocosvpn{
    width: 92%;
    height: 40px;
    
    /* border-bottom: 1px solid #E55300; */
    box-shadow: 0px 1px #07532e;

    color: #E55300;
    font-size: 14px;
    text-align: left;
    padding: 15px 0 0 13px;
    cursor: pointer;
}
.blocosvpn:hover{
    width: 100%;
    background-image:linear-gradient(to right, #76b852, #8DC26F);
    transition: all .3s ease-in-out;
}
.blocossis{
    width: 92%;
    min-height: 40px;
    
    transition: all .3s ease-in-out;
    box-shadow: 0px 1px #07532e;

    font-size: 13px;
    text-align: left;
    padding: 13px 0 0 13px;
    cursor: pointer;
}
.blocossis:hover{
    width: 100%;
    background-image:linear-gradient(to right, #76b852, #8DC26F);
}
.blocossis a{
    color: #E6E6E6;
}

/*--container--*/
.container2 {
    width: 790px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
    gap: 10px;
}

/*-----===NAVEGAÇÃO===-----*/
.navegacao {
    width: 790px;
    height: 55px;
    background-color: #2B8057;

    border: 1px solid #000000;
    border-radius: 3px;
}

/*Navegação Elementos*/
.navegacao{
    background-color: #107643;
    height: 50px;
    border-radius: 3px;
}
.nav-list{
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}
nav ul li a{
    letter-spacing: 1px;
    justify-content: flex-start;
    list-style-type: none;
    color: #fff;
    text-decoration: none;
}
li#nav {
    padding: 10px 15px;
    gap: 3px;
}
nav ul li a:hover {
    color: #1fcc00;
    transition: all .4s ease-in-out;
}
.pgatual {
    background-color: #10452B;
    border-radius: 7px;
}
.pgatual a:hover {
    color: #ffffff;
}
section nav ul hr{
    transform: rotate(90deg);
    width: 20px;
}

/*-----===BANNER===-----*/
.banner {
    width: 790px;
    height: 250px;
    background-color: #2B8057;
    border: 1px solid #000000;
    border-radius: 3px;
}
/*Banners Elementos*/
.banner img {
    width: 100%;
    height: 100%;
}

/*-----===PRINCIPAIS===-----*/
.principaisSistemas{
    width: 790px;
    background-color: #E6E6E6;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
    gap: 14px;
}

/*Principais Elementos*/
.boxPainelDeGestaoSenior{
    width: 220px;
    height: 170px;
    background-image:linear-gradient(to left, #1D52A3, #1f3993);

    border-radius: 4px;
    border: 2px solid #07123b;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.boxPainelDeGestaoSenior img{
    width: 110px;
    height: 120px;
}
.boxSistemaDeGestao{
    width: 220px;
    height: 170px;
    background-image:linear-gradient(to top, #e91212, #d40b0b);

    border-radius: 4px;
    border: 2px solid #b11313;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.boxSistemaDeGestao img{
    width: 120px;
    height: 120px;
}
.boxIntratarefas{
    width: 220px;
    height: 170px;
    background-image:linear-gradient(to left, #f99363, #ffd000);

    border-radius: 4px;
    border: 2px solid #f1560e;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.boxIntratarefas img{
    width: 120px;
    height: 120px;
}
.boxWebMail{
    width: 220px;
    height: 170px;
    background-image:linear-gradient(to left, #9b11a0, #5c0e5f);

    border-radius: 4px;
    border: 2px solid #5c005f;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.boxWebMail img{
    width: 120px;
    height: 120px;
}
.boxBlip{
    width: 220px;
    height: 170px;
    background-image:linear-gradient(to bottom, #1D9908, #529547);

    border-radius: 4px;
    border: 2px solid #10350a;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.boxBlip img{
    width: 120px;
    height: 120px;
}
.boxNutricao{
    width: 220px;
    height: 170px;
    background-image:linear-gradient(to right, #b35c5c, #9d4343);

    border-radius: 4px;
    border: 2px solid #6C2B2B;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.boxNutricao img{
    width: 120px;
    height: 120px;
}
.principais div a {
    font-size: 14px;
    display: flex;
    align-items: end;
    justify-content: center;
}
.principais div p{
    display: flex;
    align-items: end;
    justify-content: center;
}   

/*-----===DATA===-----*/
.data {
    width: 790px;
    height: 22px;
    background-color: #C6FFE3;
    margin-bottom: 7px;
    border-radius: 3px;
}

/*Data Elementos*/

/*-----===ANIVERSARIANTES===-----*/
/*Aniversariantes HEADER*/
.headerAniversario{
    width: 1020px;
    height: 40px;
    background-color: #081C61;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}

/*Aniversariantes HEADER elementos*/
.iconHeaderAniversario_ADD{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-left: 15px;
}
.iconHeaderAniversario{
    width: 35px;
    height: 35px;
    background-color: #ffffff;
    border: 1px solid black;
    border-radius: 50%;
}
.iconHeaderAniversario img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.iconHeaderAniversario_ADD p{
    font-weight: bold;
}
.listaCompleta{
    margin-right: 15px;
    font-weight: bold;
    text-decoration: underline;
    transition: all .10% ease-in-out;
}
.listaCompleta a:hover{
    color: rgb(199, 199, 199);
    transition: all .10% ease-in-out;
}

/*-----===ANIVERSARIANTES===-----*/
.boxAniversariantes {
    width: 1020px;
    height: 235px;
    background-color: #E7E7E7;

    border-radius: 0px 0px 7px 7px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 40px;
    margin-bottom: 7px;
}

/*Aniversariantes Elementos*/
.perfilAniversariante{
    width: 15%;
    height: 95%;
    /* border: 1px solid rgb(99, 0, 66); */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 5px;
}
.boxFotoColaboradores{
    width: 115px;
    height: 115px;
    background-color: #07532e;
    border-radius: 50%;
    border: 2px solid rgb(0, 12, 0);
}
.boxFotoColaboradores img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.infoColaborador{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.infoNomeColaborador{
    font-size: large;
}
.infoNomeColaborador p{
    font-size: 18px;
    color: #004523;
}
.infoCargoColaborador{
    font-size: large;
}
.infoCargoColaborador p{
    font-size: 17px;
    color: #565857;
}
.infoSetorColaborador{
    font-size: large;
}
.infoSetorColaborador p{
    font-size: 19px;
    color: #000000;
}

/*-----===FOOTER===-----*/
footer{
    width: 100%;
    background-color: #868686;

    margin-top: 2px;
    margin-bottom: 0px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footercenter{
    height: 90px;
    width: 55%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.localizacaoUnimed{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.iconLocUnimed img{
    width: 50px;
    height: 50px;
}
.txtLocalizacao{
    color: white;
}
.boxContatos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.txtContatos{
    text-align: center;
    color: white;
    font-weight: bold;
}
.iconsContatos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.iconsRedesSociais img{
    width: 35px;
    height: 35px;
    background-color: white;
    border-radius: 5px;
}
.iconsRedesSociais img:hover{
    background-color: green;
    transition: all .3% ease-in-out;
}
.copyright{
    width: 100%;
    height: 30px;
    background-color: #868686;
    border-top: 1px;
    border-right: 0px;
    border-left: 0px;
    border-bottom: 0px;
    border-style: solid;
    border-color: #616161;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    flex-wrap: nowrap;
    gap: 15px;
}